#sel_user {
	height: 40px;
	padding: 0px 10px;
	float: right;
	width: 25%;
}
.pageOverLay {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.8);
	z-index: 999999;
}
.loader, .loader:after {
	border-radius: 50%;
	width: 70px;
	height: 70px;
}
.loader {
	font-size: 10px;
	position: absolute;
	text-indent: -9999em;
	border-top: 1.1em solid rgba(255, 255, 255, 0.2);
	border-right: 1.1em solid rgba(255, 255, 255, 0.2);
	border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
	border-left: 1.1em solid #ffffff;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
	top: 50%;
	left: 50%;
	margin: -35px 0px 0px -35px;
}
a{
	text-decoration:none !important;
	outline:none !important;
}
ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
h1,h2,h3,h4,h5,h6,p{
	margin:0px;
}
.main{
	width:1600px;
	margin:0 auto;
	box-shadow:0px 0px 15px rgba(0, 0, 0, 0.0980392);
	position:relative;
	background-color:#fff;
}
@media (max-width:1600px){
	.main{
		width:100%;
	}
}
body{
	font-family: 'Segoe UI';
	font-weight: normal;
	font-style: normal;
	background-color:#f4f4f2;
}
/*-------------------------------- Headre Start -------------------------------*/

.header-top{
	border-top: 5px solid #3fafc9;
	padding-top:25px;
	padding-bottom:10px;
}

.header-left{
	float:left;
	width:18%;
}
.header-left img{
	width:100%;
}
.header-right{
	float:right;
	width: 60%;
	margin-left: 6%;
	position:relative;
}
.searchbox{
	float:left;
	width:calc(100% - 275px);
	margin-right: 10px;
}
.searchbox input[type="text"]{
	width: 73%;
	height:40px;
	padding:0px 10px;
}
.searchbox p{
	font-size:15.75px;
	color:#505050;
	margin-top:3px;
	cursor:pointer;
}
.searchbutton{
	float:left;
	width:135px;
}
.searchbutton input[type="submit"]{
	height:40px;
	background-color:#efb507;
	border:none;
	color:#fff;
	width:100%;
	text-transform:uppercase;
	font-size:23.74px;
}
.advanced_search_popup{
	left:0;
	background-color: #fff;
	padding: 30px;
	box-shadow: 0px 0px 7px rgba(0,0,0,0.5);
	top: 40px;
	width:calc(100% - 135px);
	position:absolute;
	z-index: 1;
	display:none;
}
.search_close{
	position:absolute;
	top:10px;
	right:10px;
	cursor:pointer;
}
.advanced_search_popup h2{
	font-size:27px;
	text-transform:uppercase;
	font-weight:300;
	margin-bottom:20px;
}
.advanced_search_popup h2 span{
	color:#3fafc9;
	font-weight:600;
}
.advanced_search_form{
	margin-bottom:20px;
}
.advanced_search_left{
	float:left;
	width:48%;
}
.advanced_search_right{
	float:right;
	width:48%;
}
.advanced_search_form input[type="text"]{
	height:43px;
	border-radius:3px;
	border:1px solid #aaa;
	box-shadow:0px 0px 5px rgba(0,0,0,0.3);
	font-size:16px;
	width:100%;
	padding:0px 10px;
}
.business_type_left{
	float:none;
	width:100%;
}
.business_type_left h3{
	font-size:21px;
	font-weight:300;
	text-transform:uppercase;
	margin-bottom: 20px;
}
.business_type_left h3 span{
	font-weight:600;
	color:#3fafc9;
}
.business_type_right{
	float:none;
	width:calc(100% - 0px);
}
.business_checkbox{
	float: left;
	width: 33.33%;
	margin-left: 0%;
	margin-bottom: 20px;
	padding-right: 10px;
}
input[type="checkbox"]{
  display: none;
}
.business_checkbox label {
  position: relative;
  margin:0px;
}
.business_checkbox span.checkbox::before {
	width: 27px;
	height: 27px;
	background-color: #fff;
	left:0px;
	box-sizing: border-box;
	border: 1px solid #aaa;
	transition: border-color .2s;
	border-radius: 3px;
}
.business_checkbox span::before,
.business_checkbox span::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
.business_checkbox span.checkbox:hover::before {
  border: 1px solid #aaa;
}
.business_checkbox span.checkbox::after {
	content: '\f00c';
	font-family: 'FontAwesome';
	left: 4px;
	top: -3px;
	color: transparent;
	transition: color .2s;
	font-size: 20px;
}
input[type="checkbox"]:checked + label span.checkbox::after {
  color: #62AFFF;
}
span.checkbox{
	margin-top:0px;
	margin-bottom:0px;
	padding-left: 35px;
	font-weight: normal;
	font-size: 16px;
	cursor:pointer;
}
.advanced_search_btn_outer{
	text-align:center;
}
.advanced_search_btn{
	width:177px;
	height:44px;
	font-size:24px;
	background-color:#efb507;
	border:none;
	border-radius:3px;
	color:#030303;
	margin-top:10px;
	position:relative;
	padding-left:40px;
}
.advanced_search_btn:before{
	position:absolute;
	content:url(../images/search_ok.png);
	height:23px;
	width:23px;
	left: 32px;
	top: 8px;
}
.sign-in{
	float:right;
	margin-top: 7px;
	width:16%;
}
.sign-in a{
	font-size:16.66px;
	color:#444444;
	float:right;
}
.sign-in i{
	font-size:23px;
	margin-left:20px;
	float: right;
	margin-top: 1px;
	cursor:pointer;
	position:relative;
	z-index:4;
}
.popup_setting{
	right: -7px;
	background-color: #fff;
	padding: 10px 30px 10px 15px;
	box-shadow: 0px 0px 7px rgba(0,0,0,0.5);
	top: 35px;
	width:350px;
	position:absolute;
	display:none;
	z-index: 3;
}
.popup_setting label{
	font-weight:600;
	font-size:16px;
}
.popup_setting select{
	width:100%;
	height:40px;
	padding:0px 10px;
	margin-top:5px;
	border:1px solid #aaa;
	border-radius:2px;
}
.popup_setting ul li{
	display:block;
}
.popup_setting ul li:nth-child(2){
	margin-top:13px;
}
.popup_setting ul li a{
	text-align:left;
	float: none;
	font-size: 15px;
	padding: 7px 5px;
	display: block;
}
.popup_setting ul li a:hover{
	background-color:#f4f4f2;
}
.menu{
	margin-bottom:10px;
}
.navigation_menu img{
	display:inline-block;
}
.navigation_menu .slick-slide{
	text-align:center;
	border:1px solid #ebebeb;
	padding:10px 5px;
	margin: 0 5px;
}
.navigation_menu .slick-list {
	margin: 0 -5px;
}
.navigation_menu .slick-slide a{
	color:#1b1b1b;
	font-size:18px;
	text-transform:uppercase;
	font-weight:300;
}
.navigation_menu .slick-slide a img{
	padding-right:5px;
}
.navigation_menu .slick-prev,.navigation_menu .slick-next {
	top: 55%;
}
/*-------------------------------- Headre End -------------------------------*/

/*-------------------------------- Feature List Strat -------------------------------*/
.feature_list{
	border-top:2px solid #53b4ca;
	position:relative;
}
.heading_top{
	box-shadow:0px 0px 5px rgba(0,0,0,0.1);
	padding: 5px 20px 8px;
	overflow: hidden;
	height: 41px;
}
.list_heading{
	float:left;
	padding-right:0px;
	margin-top:2px;
}
.list_heading a{
	font-size:18px;
	color:#53b4ca;
	text-transform:uppercase;
	font-weight:bold;
}
.menu_list{
	float:left;
	width:calc(100% - 200px);
	margin-top: 5px;
	padding: 0px 40px;
}
.menu_list .slick-slide a{
	color:#777;
	font-size:13px;
	text-transform:uppercase;
	font-weight:600;
	padding-right:35px;
}
.menu_edit{
	float:right;
	width:50px;
	text-align:right;
	margin-top:6px;
}
.menu_edit h4{
	color:#53b4ca;
	font-size:13px;
	text-transform:uppercase;
	font-weight:600;
	cursor:pointer;
	position:relative;
	z-index:2;
}
.menu_edit h4 i:before{
	font-size:12px;
}
.edit_list{
	text-align:left;
	width:250px;
	position:absolute;
	box-shadow:0px 0px 5px rgba(0,0,0,0.5);
	right:0;
	padding:5px 0px;
	top:1px;
	display:none;
	background-color:#fff;
	z-index: 1;
}
.edit_list ul{
	margin: 30px 0px 10px;
	border-top: 1px solid rgba(0,0,0,0.1);
}
.edit_list ul li:first-child{
	margin-top:13px;
}
.edit_list ul li:lst-child{
}
.edit_list ul li{
	padding:7px 10px;
	font-size:15px;
	cursor:pointer;
}
.edit_list ul li:hover{
	background-color:#f4f4f2;
}
.edit_list ul li i{
	height:20px;
	width:20px;
	border-radius:50%;
	background-color:#333;
	text-align:center;
	color:#fff;
	font-size: 11px;
	padding-top: 3.5px;
	float: left;
	margin-right: 9px;
	margin-top: 2px;
}
.feature_slider_outer{
	margin-top:10px;
	height: 400px;
	overflow:hidden;
}
.main_slider{
	float:left;
	width:74.7%;
}
.main_slider img{
	width:100%;
}
.ads{
	float:right;
	width:24%;
}
.ads img{
	width:100%;
}
.product_list{
	margin-top:10px;
	width:100%;
}
.product_list ul li{
	float:left;
	width:24%;
	border:1px solid #dcdcdc;
	margin-left:1.33%;
	margin-bottom:10px;
	overflow:hidden;
	position:relative;
}
.product_list ul li:nth-child(4n+1){
	margin-left:0px;
}
.product_box_img{
	float:left;
	width:120px;
	padding:10px;
	text-align:center;
	position:relative;
	height:115px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-right:1px solid #dcdcdc;
}
.product_box_img img{
	max-height: 100%;
	max-width:100%;
}
.product_box_info{
	float:left;
	width:calc(100% - 120px);
	padding: 12px 12px 5px;
	position:relative;
	min-height: 115px;
}
.product_box_info h3{
	font-size:16px;
	color:#2a2a2a;
	font-weight:600;
}
.product_box_info:hover h3{
	text-decoration:underline !important;
}
.product_box_info h4{
	color: #3fafc9;
	font-size: 14px;
	margin-top: 5px;
	line-height: 17px;
}
.product_box_info p{
	font-size:12px;
	color:#b3b3b3;
	margin-top:5px;
}
.product_box_info ul{
	position: absolute;
	right: 7px;
	bottom: 5px;
}
.product_box_info ul li{
	width:auto;
	border:none;
	margin:0px;
	margin-right:3px;
}
.product_box_info ul li i{
	color:#999;
	font-size:12px;
	height:16px;
	width:16px;
	line-height:17px;
	text-align:center;
}
.product_box_info ul li i:hover{
	color:#3fafc9;
}
.product_box_info ul li:last-child i{
	background-color:#3fafc9;
	color:#fff;
	border-radius:50%;
	font-size:10px;
	position:relative;
	cursor:pointer;
}
.product_list_overlay{
	position:absolute;
	bottom: 0px;
	right: 0px;
	height:0px;
	width:0px;
	z-index:-1;
	background:#3fafc9;
	transition:all 0.4s ease-in-out;
}
.closeicon{
	position:absolute;
	bottom:5px;
	right:5px;
	color:#fff;
	cursor:pointer;
}
.product_list_overlay.active{
	width: 100%;
	height:100%;
	z-index:1;
}
.product_list_overlay ul{
	margin-top:42px;
}
.product_list_overlay ul li{
	border:none;
	text-align:center;
}
.product_list_overlay ul li a i{
	color:#fff;
	font-size:30px;
}
.fullads {
	width: 100%;
	border: 1px solid #000;
}
.fullads img{
	width: 100%;
}
/*.section_tab{
	display:none;
}
.academy{
	display:block;
}*/
/*-------------------------------- Feature List End -------------------------------*/

/*-------------------------------- Most Popular List End -------------------------------*/
.most_popular{
	margin-top:10px;
	border-color:#1054a2;
}
.most_popular .list_heading a,.most_popular .menu_edit h4,.most_popular .menu_search i{
	color:#1054a2;
}
.most_popular .menu_list,.top_feature .menu_list{
	float: left;
	width: calc(100% - 340px);
}
.most_popular .product_list_overlay{
	background-color: #1054a2;
}
.section_list{
	float: none !important;
	width: 100% !important;
	margin-left: 0% !important;
	overflow: hidden !important;
	position: relative !important;
}
.slider_curosel .slick-slide{
	margin: 0px 8px;
}
.slider_curosel .slick-list {
	margin: 0 -8px;
}
.section_list li{
	width:100% !important;
	margin:0px !important;
	margin-bottom:10px !important;
}
.section_list:first-child{
	margin-left:0px !important;
}
.section_list .product_box_info ul li{
	display: inline-block !important;
	width: auto !important;
	margin-bottom: 0px !important;
	margin-left: 3px !important;
}
.section_list .product_list_overlay ul li{
	float:left !important;
	width:24% !important;
	text-align:center !important;
}
.section_list .product_list_overlay ul {
	margin-top: 35px;
}
.section_list li a{
	display:block;
}
.section_list li a img{
	width:100%;
}
.section_list .product_box_img {
	height: 100px;
}
.section_list .product_box_info {
	min-height: 100px;
}
.section_list .product_box_info ul li:last-child i {
	background-color: #1054a2;
}
.menu_search {
	float:right;
	width:30px;
	margin-top: 5px;
}
.menu_search i{
	cursor:pointer;
	position: relative;
	z-index: 0;
}
.menu_search input[type="text"]{
	height: 30px;
	width: 0px;
	background: none;
	transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
	position: absolute;
	border: none;
	right: 78px;
	top: 5px;
	border-radius: 3px;
	background-color:#fff;
}
.menu_search input[type="text"].menu_serach_demo{
	width:25%;
	border:1px solid #aaa;
	padding-right: 30px;
	padding: 0px 5px;
}
.menu_search i.menu_search_close{
	display:none;
	border-left: 1px solid #aaa;
	padding-left: 5px;
}
/*-------------------------------- Most Popular List End -------------------------------*/

/*-------------------------------- Top Feature List End -------------------------------*/
.top_feature{
	margin-top:0px;
	border-color:#1054a2;
}
.top_feature .list_heading a,.top_feature .menu_edit h4,.top_feature .menu_search i{
	color:#1054a2;
}
.top_feature .product_list_overlay{
	background-color: #1054a2;
}
/*-------------------------------- Top Feature List End -------------------------------*/

/*-------------------------------- Category List End -------------------------------*/
.category{
	margin-top:10px;
	border-color:#e33e0b;
}
.category .list_heading a,.category .menu_edit h4,.category .menu_search i{
	color:#e33e0b;
}
.category .section_list .product_box_info ul li:last-child i,.category .product_list_overlay{
	background-color: #e33e0b;
}
.category_img{
	width:100%;
}
.category_product_box_info{
	float:none;
	width:100%;
	text-align:center;
	height:127px;
	padding:12px 30px 5px;
	background: #fff;
}
.category_product_box_info.product_box_info ul {
	bottom: 10px;
}
.section_list .category_product_box_info ul li{
	color:#afafaf;
}
.section_list .category_product_box_info ul li:last-child a i {
	background:none !important;
	height:10px;
	width:10px;
	color:#afafaf;
	margin-left:10px;
}
.section_list .category_product_box_info ul li:last-child a i:hover{
	color:#e33e0b;
}
.category_product_box_info.product_box_info p {
	font-size: 14px;
}
/*-------------------------------- Category List End -------------------------------*/

/*-------------------------------- Free Member List Start -------------------------------*/
.free_member{
	margin-top:10px;
	border-color:#4f4f59;
}
.free_member .list_heading a,.free_member .menu_edit h4{
	color:#4f4f59;
}
.free_member .product_list_overlay{
	background-color: #4f4f59;
}
.free_member .menu_list {
	width: calc(100% - 205px);
}
.free_member .section_list .product_box_info ul li:last-child i {
	background-color: #4f4f59;
}
/*-------------------------------- Free Member List End -------------------------------*/

/*-------------------------------- Masterkey Store List Start -------------------------------*/
.masterkey_store .menu_list {
	width: calc(100% - 250px);
}
.masterkey_store .menu_search i{
	color:#53b4ca;
}
.masterkey_store .section_list li{
	width:100%;
}
.masterkey_store_right ul{
	left:5px;
}
.section_list .masterkey_store_right a img {
	width:auto;
	display: inline-block;
}
.masterkey_store_right ul li{
	margin-right:3px !important;
}
.section_list .masterkey_store_right ul li,.section_list .masterkey_store_right ul li a{
	color:#090909;
	font-size:14px;
}
.section_list .masterkey_store_right ul li span{
	margin-left:3px;
}
.masterkey_store .section_list .category_product_box_info ul li:last-child i {
	color: #000;
	background-color:#febe37 !important;
	height:18px;
	width:18px;
	line-height:18px;
}
.masterkey_store .product_list_overlay {
	background-color: #febe37;
}
.masterkey_store .product_list_overlay ul li a i,.masterkey_store .closeicon{
	color: #000;
}
/*-------------------------------- Masterkey Store List End -------------------------------*/
/*-------------------------------- Footer Start -------------------------------*/
.footer{
	margin-top:30px;
	border-top:2px solid #9e9e9e;
}
.footer_top{
	padding:10px 0px;
}
.footer_top ul li{
	float:left;
	width: 13.8%;
	margin-bottom:5px;
	margin-left:1%;
}
.footer_top ul li:nth-child(7){
	width:10%;
}
.footer_top ul li a{
	color:#505050;
}
.footer_bottom{
	padding:0px 1%;
	margin-bottom:20px;
}
.footer_left{
	float:left;
	width:30%;
}
.footer_right{
	float:right;
	width:69%;
	text-align:right;
}
.footer_right ul li{
	display:inline-block;
	padding-left:15px;
}
.footer_right ul li a{
	color:#8a8a8a;
	font-size:14px;
}
.footer_right ul li:nth-child(7){
	padding-right:10px;
}
.menu_list .slick-prev,.menu_list .slick-next {
	top: 58%;
}
/*-------------------------------- Footer End -------------------------------*/
.slider_curosel .slick-prev {
	left: -12px;
}
.slider_curosel .slick-next {
	right: -12px;
}
.product_box_img:hover img,.section_list li a img:hover,.fullads:hover img,.main_slider:hover img,.ads:hover img,.product_list li:hover img{
	opacity:0.8;
}
.box{
	display:block;
	width:100%;
}
/*-------------------------------- Responsive Start -------------------------------*/
@media (min-width:1421px) and (max-width:1469px){
	.feature_slider_outer {
		height: auto;
	}
}
@media (min-width:1241px) and (max-width:1420px){
	.section_list li a img {
		width: auto;
		margin: 0 auto;
		height: 325px;
	}
	.section_list .masterkey_store_right a img {
		height: auto;
	}
	.feature_slider_outer {
		height: auto;
	}
	.footer_top ul li {
		width: 13.3%;
	}
	.footer_top ul li:nth-child(7) {
		width: 13%;
	}
}
@media (min-width:1200px) and (max-width:1240px){
	.container {
		width: 1160px;
	}
	.feature_slider_outer {
		height: auto;
	}
	.section_list li a img {
		height: 324px;
	}
	.section_list .masterkey_store_right a img {
		height: auto;
	}
	.product_list ul li {
		width: 32.44%;
	}
	.product_list ul li:nth-child(4n+1) {
		margin-left:1.33%;
	}
	.product_list ul li:nth-child(3n+1) {
		margin-left:0%;
	}
	.product_box_info ul li {
		width: auto !important;
		display: inline-block;
	}
	.product_list_overlay ul li {
		float: left !important;
		width: 24% !important;
		margin-left: 1.33% !important;
	}
	.product_list_overlay ul li:first-child{
		margin-left:0px !important;
	}
	.footer_top ul li {
		width: 13.3%;
	}
	.footer_top ul li:nth-child(7) {
		width: 13%;
	}
}
@media (min-width:992px) and (max-width:1199px){
	.container {
		width: 960px;
	}
	.menu_list {
		width: calc(100% - 120px);
		margin-top: 4px;
	}
	.feature_slider_outer {
		height: auto;
	}
	.product_list ul li {
		width: 32.44%;
	}
	.product_list ul li:nth-child(4n+1) {
		margin-left:1.33%;
	}
	.product_list ul li:nth-child(3n+1) {
		margin-left:0%;
	}
	.product_box_info ul li {
		width: auto !important;
		display: inline-block;
	}
	.product_list_overlay ul li {
		float: left !important;
		width: 24% !important;
		margin-left: 1.33% !important;
	}
	.product_list_overlay ul li:first-child{
		margin-left:0px !important;
	}
	.product_box_info h3 {
		font-size: 14px;
	}
	.most_popular .menu_list, .top_feature .menu_list {
		width: calc(100% - 285px);
	}
	.menu_search {
		width: 24px;
		margin-top: 4px;
	}
	.menu_edit {
		margin-top: 8px;
	}
	.menu_list .slick-slide a {
		padding-right: 25px;
	}
	.top_feature .menu_list {
		width: calc(100% - 325px);
	}
	.product_box_info {
		padding: 5px 12px 5px;
	}
	.product_box_info p {
		margin-top: 2px;
	}
	.category .menu_list {
		width: calc(100% - 170px);
	}
	.menu_search input[type="text"] {
		right: 71px;
	}
	.menu_search input.menu_serach_demo[type="text"] {
		width: 45%;
	}
	.footer_top ul li,.footer_top ul li:nth-child(7){
		width: 15.6%;
	}
	.footer_right ul li {
		padding-left: 11px;
	}
}
@media (min-width:768px) and (max-width:991px){
	.container {
		width: 726px;
	}
	.heading_top {
		padding: 5px 10px 8px;
	}
	.list_heading a {
		font-size: 16px;
	}
	.menu_list .slick-slide a {
		padding-right: 20px;
	}
	.menu_list {
		width: calc(100% - 120px);
		padding: 0px 30px;
		margin-top: 3px;
	}
	.menu_edit {
		margin-top: 6.5px;
	}
	.feature_slider_outer {
		height: auto;
	}
	.product_list ul li {
		width: 49.3%;
	}
	.product_list ul li:nth-child(4n+1) {
		margin-left: 1.33%;
	}
	.product_list ul li:nth-child(2n+1) {
		margin-left:0%;
	}
	.product_box_info ul li {
		width: auto !important;
		display: inline-block;
	}
	.product_list_overlay ul li {
		float: left !important;
		width: 24% !important;
		margin-left: 1.33% !important;
	}
	.product_list_overlay ul li:first-child{
		margin-left:0px !important;
	}
	.most_popular .menu_list, .top_feature .menu_list {
		width: calc(100% - 270px);
	}
	.menu_search {
		width: 23px;
		margin-top: 3px;
	}
	.menu_search input[type="text"] {
		right: 60px;
		top: 4px;
	}
	.menu_search input.menu_serach_demo[type="text"] {
		width: 55%;
	}
	.top_feature .menu_list {
		width: calc(100% - 300px);
	}
	.category .menu_list {
		width: calc(100% - 160px);
	}
	.free_member .menu_list {
		width: calc(100% - 185px);
	}
	.section_list li a img {
		height: 324px;
	}
	.masterkey_store .menu_list {
		width: calc(100% - 220px);
	}
	.section_list .masterkey_store_right a img {
		height: auto;
	}
	.footer_top ul li,.footer_top ul li:nth-child(7){
		width: 23%;
		margin-left: 2%;
	}
	.footer_left {
		float: none;
		width: 100%;
		text-align: center;
	}
	.footer_right {
		float: none;
		width: 100%;
		text-align: center;
		margin-top: 10px;
	}
	.footer_right ul li {
		padding: 5px 8px;
	}
}
@media (min-width:601px) and (max-width:767px){
	.heading_top {
		padding: 5px 10px 8px;
	}
	.list_heading a {
		font-size: 14px;
	}
	.menu_list {
		width: calc(100% - 115px);
		margin-top: 3px;
		padding: 0px 30px;
	}
	.menu_list .slick-prev,.menu_list .slick-next {
		top: 58%;
	}
	.menu_list .slick-slide a {
		font-size: 12px;
		padding-right: 20px;
	}
	.menu_edit h4 {
		font-size: 12px;
	}
	.menu_edit {
		width: 45px;
		margin-top: 7px;
	}
	.feature_slider_outer {
		height: auto;
	}
	.product_list ul li {
		width: 49.3%;
	}
	.product_list ul li:nth-child(4n+1) {
		margin-left:1.33%;
	}
	.product_list ul li:nth-child(2n+1) {
		margin-left:0%;
	}
	.product_box_info ul li {
		width: auto !important;
		display: inline-block;
	}
	.product_list_overlay ul li {
		float: left !important;
		width: 24% !important;
		margin-left: 1.33% !important;
	}
	.product_list_overlay ul li:first-child{
		margin-left:0px !important;
	}
	.product_box_info {
		padding: 5px 5px 5px;
	}
	.product_box_info h3 {
		font-size: 13px;
	}
	.product_box_info h4 {
		font-size: 12px;
		margin-top: 2px;
		line-height: 14px;
	}
	.menu_search {
		width: 22px;
		margin-top: 2px;
	}
	.most_popular .menu_list, .top_feature .menu_list {
		width: calc(100% - 230px);
	}
	.section_list li a img {
		height: 324px;
	}
	.top_feature .menu_list {
		width: calc(100% - 263px);
	}
	.category .menu_list {
		width: calc(100% - 142px);
	}
	.product_box_info p {
		margin-top: 0px;
	}
	.free_member .menu_list {
		width: calc(100% - 165px);
	}
	.masterkey_store .menu_list {
		width: calc(100% - 200px);
	}
	.section_list .masterkey_store_right a img {
		height: auto;
	}
	.menu_search input[type="text"] {
		right: 54px;
		top: 3px;
	}
	.menu_search input.menu_serach_demo[type="text"] {
		width: 60%;
	}
	.footer_top ul li,.footer_top ul li:nth-child(7){
		width: 24%;
	}
	.footer_left {
		float: none;
		width: 100%;
		text-align: center;
	}
	.footer_right {
		float: none;
		width: 100%;
		text-align: center;
		margin-top: 10px;
	}
	.footer_right ul li {
		padding: 5px 8px;
	}
}
@media (max-width:600px){
	.list_heading {
		float: none;
		border-bottom: 1px solid rgba(0,0,0,0.1);
		padding-bottom: 5px;
		margin-bottom: 5px;
	}
	.heading_top {
		padding: 5px 5px 8px;
		height: 70px;
	}
	.list_heading a {
		font-size: 13px;
	}
	.menu_list {
		width: calc(100% - 50px);
		padding: 0px 20px;
	}
	.menu_edit {
		width: 42px;
	}
	.menu_search {
		width: 20px;
		margin-top: 5px;
	}
	.menu_search i {
		font-size: 12px;
	}
	.menu_list .slick-prev,.menu_list .slick-next {
		top: 62%;
	}
	.menu_list .slick-slide a {
		font-size: 12px;
		padding-right: 20px;
	}
	.menu_edit h4 {
		font-size: 12px;
	}
	.menu_edit {
		margin-top: 10px;
	}
	.feature_slider_outer {
		height: auto;
	}
	.main_slider {
		float: none;
		width: 100%;
	}
	.ads {
		float: none;
		width: 100%;
		margin-top: 10px;
	}
	.product_list ul li {
		float: none;
		width: 100%;
		margin-left: 0px;
	}
	.product_box_info ul li {
		width: auto !important;
		display: inline-block;
	}
	.product_list_overlay ul li {
		float: left !important;
		width: 24% !important;
		margin-left: 1.33% !important;
	}
	.product_list_overlay ul li:first-child{
		margin-left:0px !important;
	}
	.most_popular .menu_list, .top_feature .menu_list,.category .menu_list,.free_member .menu_list,.masterkey_store .menu_list{
		width: calc(100% - 68px);
	}
	.section_list {
		float: none !important;
		width: 100% !important;
		margin-left: 0% !important;
	}
	.product_box_info h3,.product_box_info h4 {
		font-size: 13px;
	}
	.menu_search input.menu_serach_demo[type="text"] {
		width: 83%;
	}
	.menu_search input[type="text"] {
		right: 46px;
		top: 39px;
	}
	.footer_top ul li,.footer_top ul li:nth-child(7){
		width: 49%;
		text-align:center;
	}
	.footer_left {
		float: none;
		width: 100%;
		text-align: center;
	}
	.footer_right {
		float: none;
		width: 100%;
		text-align: center;
		margin-top: 10px;
	}
	.footer_right ul li {
		display: inline-block;
		padding: 3px 5px;
	}
	.slider_curosel .slick-slide {
		margin: 0px 5px;
	}
	.product_box_img {
		width: 110px;
	}
	.product_box_info {
		width: calc(100% - 110px);
	}
	.product_box_info p {
		margin-top: 0px;
	}
	.section_list li a img {
		width: auto;
		margin: 0 auto;
		height:324px;
	}
	.category_product_box_info{
		width:100%;
	}
	.section_list .masterkey_store_right a img {
		height: auto;
	}
}
/*-------------------------------- Responsive End -------------------------------*/